@charset "utf-8";

// generic variables
$dark: #2d252a;
$primary: #bb1e7d;

// level variables
$level-item-spacing: 1.25rem !default;

// footer variables
$footer-background-color: #221a1e;

html, body
{
    height: 100%;
}
body
{
    flex-direction: column;
}
.wrapper
{
    flex: 1 0 auto;
    flex-direction: column;
}
.level
{
    padding: 0.75rem;
    font-weight: 600;
}
.footer
{
    flex-shrink: 0;
    margin-top: auto;
}

@import "../node_modules/bulma/bulma.sass";
