extends layout

block scripts
  link(rel="stylesheet" href="/stylesheets/explore.css")
block content
  main.section
    .container
      h1.title.has-text-primary Featured
      .section.is-flex.thumbnailSection
        +featuredImageThumbnail("/", "https://via.placeholder.com/200", "Yo!")
        +featuredImageThumbnail("/", "https://via.placeholder.com/200", "Yo!")
        +featuredImageThumbnail("/", "https://via.placeholder.com/200", "Yo!")
    .container
      h1.title.has-text-primary Recent
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
      img(src="https://via.placeholder.com/150" alt="Featured Image")
