extends layout

block scripts
  link(rel='stylesheet', href='/stylesheets/style.css')
block content
  main.section
    .container
      h1.title.has-text-primary.is-1.is-spaced Explore, create, share, and enjoy.
      h3.subtitle.has-text-light.is-3 Create an account today to create, view, and share creative works right now using only the web browser of your choice.
      .columns
        .container.column
          h2.title.has-text-primary About
          hr
          p.has-text-light This is a website where you can draw things and share your creations with other users! The website records your drawing for playback at a later date! Users can also download images and video recordings.
          br
          p.has-text-light This website was inspired by Drawr. Drawr hosts an online, flash-based drawing app that allows artist to draw and share with the internet. Unfortunately for Drawr and its community, flash is becoming obsolete. My goal is to recreate the best parts of drawr, but in HTML5.
        .container.column
          figure.card
            a(href="/")
              img.card-image(src="https://via.placeholder.com/600" alt="")
            figcaption.card-content This is an example image by an unknown artist.  Click the image above to be taken to a different page where you can view the fullsize image, watch the drawing process from start to finish, or download the image it's video recording.
